# IDEs
.vscode/
.idea/

# Root
node_modules/

# Laravel
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*

# React
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# AI Service
instruct-ai-service/ai_service.log

# Cognify Android App
cognify/.gradle/
cognify/build/
cognify/app/build/
cognify/local.properties
cognify/captures/
cognify/.externalNativeBuild/
cognify/.idea/
cognify/.kotlin/
cognify/*.iml
cognify/.settings/

# OS Files
.DS_Store
Thumbs.db